
/* Navigation Styling */

/* styling for nav bar */
nav {
    background-color: #e3dcdc;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 13px;
    z-index: 1000;
}

/* styling for individual buttons on nav bar */
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

/* changes color when hovering over nav button */
nav a:hover {
    background-color: #e1cebd;
}

/* Calendar Styling */
:root {
    /* establish primary color for convenience */
    --primary-clr: #f0c5b5;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  /* styling for body of calendar page */
  body {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    background-color: #f0c5b5;
  }

  /* styling for container of both left and right parts */
  .container {
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    display: flex;
    top: 80px;
    border-radius: 10px;
    background-color: #F7E9de;
  }

  /* styling for left part */
  .left {
    width: 60%;
    padding: 20px;
  }

  /* styling for general calendar background */
  .calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #a5704f;
    border-radius: 5px;
    background-color: #fff;
  }
  /* set after behind the main element */
  .calendar::before,
  .calendar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #f0d9c5;
    transform: translateY(-50%);
  }
  .calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: #dbb897;
  }

  /* styling for month display at the top */
  .calendar .month {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 1.7rem;
    font-weight: 550;
    text-transform: capitalize;
  }

  /* styling for buttons that move between months */
  .calendar .month .prev,
  .calendar .month .next {
    cursor: pointer;
    top: 14%;
  }

  /* styling for when hovering over buttons */
  .calendar .month .prev:hover,
  .calendar .month .next:hover {
    color: var(--primary-clr);
  }

  /* styling for weekdays on top of calendar */
  .calendar .weekdays {
    width: 100%;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  /* styling for individual weekdays */
  .weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* styling for individual days */
  .calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
  }

  /* styling for current day */
  .calendar .days .day {
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-clr);
    border: 1px solid #f5f5f5;
  }

  /* border lines between days */
  .calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(7n) {
    border-right: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid #f5f5f5;
  }
  
  /* styling for hovering other days */
  .calendar .days .day:not(.prev-date, .next-date):hover {
    color: #fff;
    background-color: var(--primary-clr);
  }
  .calendar .days .prev-date,
  .calendar .days .next-date {
    color: #b3b3b3;
  }

  /* styling for color of current day */
  .calendar .days .active {
    position: relative;
    font-size: 2rem;
    color: #ffffff;
    background-color: var(--primary-clr);
  }

  /* highlights box of current */
  .calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--primary-clr);
  }
  .calendar .days .today {
    font-size: 2rem;
  }
  .calendar .days .event {
    position: relative;
  }

  /* coloring for other days with events */
  .calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
  }

  /* styling for other days with events */
  .calendar .days .day:hover.event::after {
    background-color: #fff;
  }
  .calendar .days .active.event::after {
    background-color: #fff;
    bottom: 20%;
  }
  .calendar .days .active.event {
    padding-bottom: 10px;
  }

  /* styling for today button */
  .calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--primary-clr);
  }
  .calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
  }

  /* styling for input box for going to specifc day */
  .calendar .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--primary-clr);
    border-radius: 5px;
  }

  /* styling for button for going to specifc day */
  .calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
  }
  .calendar .goto-today button:hover {
    color: #fff;
    background-color: var(--primary-clr);
  }
  .calendar .goto-today .goto button {
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
  }

  /* styling for right side container */
  .container .right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
  }
  
  /* styling for current days date */
  .right .today-date {
    width: 100%;
    height: 50px;
    color: #a5704f;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  .right .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
  }
  .right .today-date .event-date {
    font-size: 1rem;
    font-weight: 400;
    color: #c4a28d;
  }

  /* styling for displaying events on the right */
  .events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
  }

  /* styling for individual events */
  .events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color: #fff;
    background: linear-gradient(90deg, #efcfb7, transparent);
    cursor: pointer;
  }
  /* changes background for even event */
  .events .event:nth-child(even) {
    background: transparent;
  }
  /* changes background when you hover */
  .events .event:hover {
    background: linear-gradient(90deg, var(--primary-clr), transparent);
  }
  .events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;

    
  }
  /* styling for event titles */
  .events .event .title .event-title {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
    color: #a5704f;
  }
  .events .event i {
    color: #fff;
    font-size: 0.5rem;
  }
  .events .event:hover i {
    color: #fff;
  }

  /* styling for event time */
  .events .event .event-time {
    font-size: 0.8rem;
    font-weight: 400;
    color: #c4a28d;
    margin-left: 15px;
    pointer-events: none;
  }
  .events .event:hover .event-time {
    color: #fff;
  }
  /* adds tick in after hovering on event */
  .events .event::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    line-height: 1;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    transform: translateY(-50%);
    color: #fff;

  }
  .events .event:hover::after {
    display: flex;

  }

  /* styling for add event button */
  .add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #a5704f;
    border: 2px solid #a5704f;
    opacity: 0.5;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }
  .add-event:hover {
    opacity: 1;
  }
  .add-event i {
    pointer-events: none;
  }

  /* text for when there's no event */
  .events .no-event {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #a5704f;
  }

  /* styling for adding an event */
  .add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
  }
  .add-event-wrapper.active {
    max-height: 300px;
  }

  /* styling for add event popup */
  .add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
    border-bottom: 1px solid #f5f5f5;
  }
  .add-event-header .close {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .add-event-header .close:hover {
    color: var(--primary-clr);
  }
  .add-event-header .title {
    font-size: 1.2rem;
    font-weight: 500;
  }

  /* styling for add event body */
  .add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
  }
  .add-event-body .add-event-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .add-event-body .add-event-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #a5704f;
  }
  .add-event-body .add-event-input input::placeholder {
    color: #c4a28d;
  }
  .add-event-body .add-event-input input:focus {
    border-bottom: 1px solid var(--primary-clr);
  }
  .add-event-body .add-event-input input:focus::placeholder {
    color: var(--primary-clr);
  }

  /* styling for add event popup footer */
  .add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  /* styling for add event button */
  .add-event-footer .add-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
  }
  .add-event-footer .add-event-btn:hover {
    background-color: #f0d1c6;
  
  }
  
  /* media queries */
  
  @media screen and (max-width: 1000px) {
    body {
      align-items: flex-start;
      justify-content: flex-start;
    }
    .container {
      min-height: 100vh;
      flex-direction: column;
      border-radius: 0;
    }
    .container .left {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .container .right {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .calendar::before,
    .calendar::after {
      top: 100%;
      left: 50%;
      width: 97%;
      height: 12px;
      border-radius: 0 0 5px 5px;
      transform: translateX(-50%);
    }
    .calendar::before {
      width: 94%;
      top: calc(100% + 12px);
    }
    .events {
      padding-bottom: 340px;
    }
    .add-event-wrapper {
      bottom: 100px;
    }
  }
  @media screen and (max-width: 500px) {
    .calendar .month {
      height: 75px;
    }
    .calendar .weekdays {
      height: 50px;
    }
    .calendar .days .day {
      height: 40px;
      font-size: 0.8rem;
    }
    .calendar .days .day.active,
    .calendar .days .day.today {
      font-size: 1rem;
    }
    .right .today-date {
      padding: 20px;
    }
  }
  
  

/* Style for homepage */

/* styling for background of homepage */
#homepage {
    /* background-image: url('./Images/HomepageBg.jpg');  */
    background-color:#f0c5b5;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh;
}

/* styling for nav bar */
#homepage-nav {
    background-color: #F7E9de;
    width: 50%; 
    margin: 0 auto; 
    border-radius: 7px;
    display: flex;
    justify-content: center; 
    
}
#homepage-nav a {
    color: #a5704f;
}

/* styling for task list container */
#floating-container {
    position: absolute;
    top: 50%; 
    right: 12%; 
    transform: translateY(-50%); 
    width: 450px; 
    padding: 20px; 
    background-color: #F7E9de; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 15px; 
    z-index: 1000; 
}

/* Image inside the container */
#container-image {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
}

/* Button inside the container */
#container-button {
    position: absolute;
    top: 85%; 
    width: 50%; 
    padding: 20px; 
    background-color: #fcca89; 
    color: #a5704f; 
    font-weight: bold;
    border: none; 
    border-radius: 5px; 
    font-size: 1rem; 
    font-family: 'Arial', sans-serif; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s, box-shadow 0.2s; 
}

/* container button actions */
#container-button:hover {
    transform: translate(0%, -3%) scale(1.05); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
}

#container-button:active {
    transform:  translate(0%, -3%) scale(0.95); 
}

/* styling for popup modal */
.modal {
    display: none;  /* Hidden initially */
    position: fixed;
    z-index: 1001;  /* Ensure it appears on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

/* modal Content Box */
.modal-content {
    background-color: #F7E9de;
    margin: 15% auto;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s;
}

  /* style for the Pop-up Button */
  #popup-button {
      font-size: 18px; 
      font-weight: bold;
      padding: 10px 20px;
      color: #ffffff; 
      background-color: #7b5339; 
      border: none; 
      border-radius: 10px; 
      cursor: pointer; 
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      transition: transform 0.2s, background-color 0.3s; 
  }

  /* Hover effect */
  #popup-button:hover {
      background-color: #9a7962; 
      transform: scale(1.03); 
  }

  
  
  /* adjusts spacing for modal title */
  .modal-content h2 {
      font-size: 24px; 
      margin-bottom: 15px; 
  }

  /* adjusts spacing for each line under modal title */
  .modal-content p {
      font-size: 16px; 
      margin-bottom: 5px; 
      line-height: 1.3; 
  }

  /* adjusts spacing above modal button */
  .modal-content #popup-button {
      margin-top: 17px; 
  }


  /* Close Button styling */
  .close-btn {
      position: absolute;
      top: 233px;
      right: 530px;
      font-size: 28px;
      font-weight: bold;
      color: #666666;
      cursor: pointer;
  }
  .close-btn:hover {
      color: #000;
  }

  /* Modal Fade In Animation */
  @keyframes fadeIn {
      from {
          opacity: 0;
          transform: translateY(-20px);
      }
      to {
          opacity: 1;
          transform: translateY(0);
      }
  }

  /* positions gif wrapper */
#gif-wrapper {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 700px;
    height: auto;
}

/* container image */
#container-image {
  display: block;
  width: 100%; 
  height: auto;
}

/* container for current day events */
#events-container {
  display: none;
  position: absolute;
  top: 24%;
  left: 20%; 
  background-color: #F7E9de; 
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px #b9997a;
  max-width: 80%; 
  overflow-y: auto; 
  z-index: 10; 
}

/* display for each event */
.event {
  margin-bottom: 10px;
  font-size: 16px;
  color: #a5704f;
}




/* GIF Positioned on Top */
#title {
    left: 17%;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;  
    border-radius: 8px;
}

/* positioning for floating container */
#floating-container-left {
    opacity: 0;
    animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

#logo {
    height: 200px; 
    width: auto;
    position: absolute; 
    top: -10px;
    left: -10px; 
}


#homepage-nav {
    padding-left: 80px;  
}

/* positioning and animation for credits */
#credits {
  
  height: auto;
  width: 340px;
  position: absolute;
  bottom: 5px;
  left: 270px;
  animation: fadeIn 1.2s;
}




/* Pet Cuztomization page styling */
* {box-sizing:border-box}

/* image and slideshow container spacing */
.image-container {
  max-width: 650px;
  position: relative;
  margin: auto;
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  top: 17px;
  right: 40%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:#cead8e;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #eeb09b;;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #cead8e;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #c4a28d;
}

/* Fading animation for images */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* positioning for music note container */
#musicnotes-container {
  display: none;
  position: absolute;
  padding: 5px;
  background-color: #bb8563;
  right: 14%;
  bottom: 1%;
  border-radius: 5%;
}

/* music notes sizing */
.note {
  width: 100px;
  height: 100px;
 
}

/* Popup styling and background */
.popup {
  display: none;  
  position: fixed;
  z-index: 1001; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
  color: #000000;
}

/* adjusts spacing for congrats popup title */
.popup-content h2 {
  font-size: 24px; 
  margin-bottom: 3px; 
}

/* adjusts spacing for each line under congrats popup title */
.popup-content p {
  font-size: 16px; 
  margin-bottom: 5px; 
  line-height: 1.3; 
}

/* adjusts spacing above congrats popup button */
.popup-content #close-popup-btn {
  margin-top: 10px; 
}

/* Popup content box */
.popup-content {
  background-color: #F7E9de;
  padding: 30px;
  border-radius: 10px;
  width: 50%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* styling and spacing for close popup button */
#close-popup-btn {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #7b5339;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, background-color 0.3s; 
}
/* close popup hover background change */
#close-popup-btn:hover {
  background-color: #9a7962;
  transform: scale(1.03);
}
